.light-theme {
  background: linear-gradient(45deg, transparent 50%, rgb(135,206,250) 50%, rgba(0,186,0,0.2)),
  linear-gradient(-45deg, rgba(0,186,0,0.2) 50%, transparent 50%, transparent);
  transition: 1s;
}

.dark-theme {
  background: linear-gradient(45deg, transparent 50%, rgba(85,156,200, 1) 50%, rgba(0,136,0,0.2)),
  linear-gradient(-45deg, rgba(0,150,150,0.45) 50%, transparent 50%, transparent);
  background-color: rgba(10, 10, 10, .9);
  color: rgba(250, 250, 250, .9);
  transition: 1s;
}

img {
    max-width: 80%;
    height: auto;
}

sign-up-button.button {
  background: none;
  border: 0px;
}

hr {
  transition: 1s;
}

.dark-theme hr {
  background-color: rgba(200, 200, 200, .9);
}

.box {
  width: 500px;
  padding: 40px;
  position: relative;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 30%);
  background: none;
  text-align: center;
  justify-content: center;
}

.light-theme input[type="text"], .light-theme input[type="password"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #4D6FBB;
  border-radius: 30px;
  padding: 12px 10px;
  width: 300px;
  outline: none;
  transition: 0.25s;
  caret-color: #3498db;
  color: #4D6FBB;
}

.dark-theme input[type="text"], .dark-theme input[type="password"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #75c3f3;
  border-radius: 30px;
  padding: 12px 10px;
  width: 300px;
  outline: none;
  transition: 0.25s;
  caret-color: #3498db;
  color: #75c3f3;
}

::placeholder {
  transition: 1s;
}

.dark-theme ::placeholder {
  color: rgba(250, 250, 250, .7);
}

.light-theme .box h1 {
  color: black;
  font-weight: 500;
  background: none;
}

.dark-theme .box h1 {
  color: rgba(250, 250, 250, .9);
  font-weight: 500;
  background: none;
}

input[type="text"]:hover, input[type="password"]:hover  {
  border: 2px solid #45c4db;
  padding: 12px 30px;
  background: none;
  width: 400px;
}

.dark-theme input[type="text"]:hover, .dark-theme input[type="password"]:hover {
  border: 2px solid #80EDFF;
}

input[type="text"]:focus,  input[type="password"]:focus  {
  border: 2px solid #45c4db;
  padding: 12px 30px;
  background: none;
}

input[type="submit"] {
  background: none;
  border-radius: 24px;
  border: 2px solid #28a745;
  padding: 12px 40px;
  width: 150px;
  color: #28a745;
  text-align: center;
  margin: 20px auto;
  transition: 0.25s;
  outline: none;
  display: block;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #28a745;
  color: white;
}

.dark-theme input[type="submit"] {
  border: 2px solid #30CE54;
  color: #30CE54;
}

.dark-theme input[type="submit"]:hover  {
  background: #30CE54;
  color: rgba(250, 250, 250, .9);
}

.url {
  color: #0457ff;
  font-size: 13px;
  background: none;
  border: 0;
}

.url:hover {
  color: #256e39;
  background: none;
  border: 0;
  text-decoration: none;
}

.dark-theme .url {
  color: #0007ff;
}

.dark-theme .url:hover {
  color: #4bdb72;
}

.page-404-text {
  color: red;
}

.content_title {
  padding-top: 20px;
  padding-left: 0px;
}


.VideoContent {
  display: block;
  width: 100% !important;
}

.listVideo {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  height: 100%;
  left: 50%;
  padding-left: 0;
  padding-right: 0;
  transform: translateX(6%);
}

.listVideoElement {
  width: 40%;
  height: 40%;
  display: block;
  margin: 20px;

}

.video-content-element {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  text-align: center;
}

.dark-theme .video-content-element {
  color: rgba(250, 250, 250, .9);
}

.video-content-element:hover {
  text-decoration: none;
}


.light-theme .navbar-light .navbar-nav .nav-link {
  color: #324B7C;
  transition: 1s;
  cursor: pointer;
}

.dark-theme .navbar-light .navbar-nav .nav-link {
  color: #75c3f3;
  transition: 1s;
  cursor: pointer;
}

.light-theme .navbar-light:hover .navbar-nav:hover .nav-link:hover {
  color: #293C62 !important;
}

.dark-theme .navbar-light:hover .navbar-nav:hover .nav-link:hover {
  color: #7ACDFF !important;
}


.nav-item {
  transition: 0.25s;
  text-align: center;
}

.nav-item:hover {
  transform: scale(1.12);
}

.navbar-brand {
  font-size: 2rem;
  transition: 0.25s;
  color: #FFCD00 !important;

}

.navbar-brand:hover {
  transform: scale(1.12);

}

.light-theme .bg-light {
  background-color: #75c3f3 !important;
  transition: 1s;
}

.dark-theme .bg-light {
  background-color: #44708B !important;
  transition: 1s;
}

.btn-outline-success {
  color: white;
}

.form-control {
  border-radius: .4rem;
  transition: 1s;
}

.dark-theme .form-control {
  background-color: rgba(10, 10, 10, .9);
  border: 1px solid rgba(50, 50, 50, 1);
  color: rgba(250, 250, 250, .9);
}

.video-preview {
  position: relative;
  left: 10%;
  top: 0%;

}

.page-403-img {
  position: relative;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 15%);
}

.profile-image {
  width: 100%;
  border: 2px solid black;
  position: relative;
  height: auto;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0%);
  margin-bottom: 2ex;
  max-width: 13cm;
  border-radius: 1%;
}

.profile-image-box {
    width: 90%;
    position: relative;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 30%);
    background: none;
    text-align: center;
    justify-content: center;
}

.add-news {
  position: relative;
  width: 100%;
  height: 80%;
  left: 0%;
  top: 20%;
  margin-top: 50px;
  text-align: center;

}

.News-form {
  position: relative;
  left:0%;
  top: 10%;

}

.article-list {
  text-align: center;
  list-style-type: none;
  padding-left: 0px;
}

.print-user {
  margin: 2ex;
  display: block ruby;
  height: 100%;
  left: 50%;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #75c3f3;
}

.dark-theme .nav-link.active {
  background-color: #44708B;
}

.scoreboard-element {
  width: 100%;
}

.video-window {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.add-video-conteiner {
  display: inline;
}

.add-video-text {
  position: relative;
  left: 40%;
  top: 5em;
}

.add-video-conteiner {
  position: absolute;
  width: 100%;
  height: 100%;
}

.add-video-form {
  position: relative;
  top: 20%;
  width: 40%;
  left: 40%;
  transform: translateX(-50%);
}

.video-name-text {
  position: relative;
  top: 10%;
  left: 40%;
  transform: translateX(-50%);
}

.chous {
    width: 180px;
    height: 50px;
    border-radius: 4px;
    text-align: center;
    margin: 25px;
    cursor: pointer;
    display: block;
    font: 14px/50px Tahoma;
    transition: all 0.18s ease-in-out;
    border: 1px solid #28a745;
    background: linear-gradient(to top right, #28a745, #2DC44F 20%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0)) top right/500% 500%;
    color: #28a745;
    left: 22%;
    position: relative;
}

.chous:hover {
  color: white;
  background-position: bottom left;
}

.my {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.main-container-profile {
  display: inline-block;
}

.profile-video-conteiner {
  position: relative;
  top: 20%;
  left: 70%;
}

.light-theme .list-group-item.active {
  color: rgba(250, 250, 250, .9);;
  background-color: #75c3f3;
  border-color: #75c3f3;
  transition: 1s;
}

.dark-theme .list-group-item.active {
  color: #fff;
  background-color: #44708B;
  border-color: #44708B;
  transition: 1s;
}

.list-group-item {
  transition: 1s;
}

.dark-theme .list-group-item {
  background-color: rgba(50, 50, 50, .9);
  color: rgba(250, 250, 250, .9);
  transition: 1s;
}

.page-link {
  color: #75c3f3;
  font-size: 2.5ex;
  transition: 1s;
}

.page-link:hover {
  color: #75c3f3;
}

.video-pagination {
  position: fixed;
  left: 50%;
  font-size: 3ex;
  transform: translateX(-50%);
  bottom: 0%;
  width: 25%;
}

.profile-image-conteiner {
    width: 100%;
    position: relative;
}

.profile-conteiner {
    position: relative;
    width: 100%;
    height: 100%;
}

.profile-videos {
    height: 100%;
    text-align: center;
    width: 100%;
    position: relative;
    top: 2%;
    transform: translateY(5%);
}

.profile-video-list {
  list-style-type: none;
  height: 100%;
  width: 100%;
}

.profile-video-list-element {
    margin-right: 2em;
    margin-bottom: 3em;
}

.delete-video-button {
  border: 1px solid #75c3f3;
  border-radius: 5px;
  background: none;
  width: 40%;
}

.light-theme #trash-news {
  color: #4D6FBB;
  transition: 1s;
}

.dark-theme #trash-news {
  color: #75c3f3 !important;
  transition: 1s;
}

.dark-theme a.dropdown-item:hover {
  background-color: rgba(50, 50, 50, .9);
}

.dark-theme a.dropdown-item {
  color: rgba(250, 250, 250, .9);
}

ul.ddropdownn-inside {
    left: -9999px;
    position: absolute;
    }
ul.ddropdownn li.ddropdownn-top {
    color: #324B7C;
    background: none;
    margin: 0 1px 0 0;
    float: left;
    display: inline;
    }
ul.ddropdownn li.ddropdownn-top a {
    color: #324B7C;
    display: block;
    padding: 3px 10px 4px;
    }

ul.ddropdownn a.ddropdownn-top:hover { padding: 3px 10px 4px; }
ul.ddropdownn li.ddropdownn-top:hover .ddropdownn-inside {
    left: 0;
    display: block;
    }
ul.ddropdownn .ddropdownn-inside a:hover { background: #AFEEEE; }

.dark-theme #video-text {
  color: rgba(250, 250, 250, .9);
  transform: 1s;
}

.dark-theme #video-text:hover {
  color: #75c3f3;
  transform: 1s;
}

.dark-theme .page-link {
  background-color: rgba(50, 50, 50, .9);
  border-color: rgba(10, 10, 10, .1);
  color: #75c3f3;
  transition: 1s;
}

.dark-theme .dropdown-menu {
  background-color: rgba(10, 10, 10, .9);
 }

.dark-theme .News-textarea {
  background-color: rgba(10, 10, 10, .9);
  color: rgba(250, 250, 250, .9);
}

.dark-theme #dropdownMenuButton {
  border-color: rgba(250, 250, 250, .9);
}

#dropdownMenuButton {
  transition: 1s;
}

.alert-primary {
  width: 75%;
  left: 12.5%;
  text-align: center;
  transition: 1s;
  background-color: #75c3f3;
  border-color: #75c3f3;
}

.dark-theme .alert-primary {
  background-color: #44708B;
  border-color: #44708B;
  color: #75c3f3;
}

.light-theme .like {
  color: rgb(11, 97, 255);
  font-size: 3ex;
}

.dark-theme .like {
  color: rgb(115, 179, 255);
  font-size: 3ex;
}

.like-label {
  transition: .5s;
  transform: translateY(0%);
  opacity: 0;
  display: block;
  font-weight: 400;
}

#likeButton {
  cursor: pointer;
  display: block;
  position: relative;
  width: 30%;
  left: 35%;
}

.light-theme #likeButton:hover {
  color: rgb(0, 27, 185);
}

.dark-theme #likeButton:hover {
  color: rgb(96, 164, 230);
}

#likeButton:hover .like-label {
  transition: .5s;
  transform: translateY(25%);
  opacity: 1;
  overflow: visible;
}

.admin-page-container {
  display: block;
}

.development-container {
  padding-top: 3em;
  position: relative;
  display: block;
  text-align: center;
}

.development-mode-text {
  font-size: 1.5em;
}

