body {
  background: linear-gradient(45deg, transparent 50%, rgb(135,206,250) 50%, rgba(0,186,0,0.2)), 
  linear-gradient(-45deg, rgba(0,186,0,0.2) 50%, transparent 50%, transparent); 
 
}

img {
    max-width: 80%;
    height: auto;
}

sign-up-button.button {
  background: none;
  border: 0px;
}

.box {
  width: 500px;
  padding: 40px;
  position: relative;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 30%);
  background: none;
  text-align: center;
  justify-content: center;
}

input[type="text"], input[type="password"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #4D6FBB;
  border-radius: 30px;
  padding: 12px 10px;
  width: 300px;
  outline: none;
  transition: 0.25s;
  caret-color: #3498db;
  color: #4D6FBB;
}

.box h1 {
  color: black;
  font-weight: 500;
  background: none;
}

input[type="text"]:hover, input[type="password"]:hover  {
  border: 2px solid #45c4db;
  padding: 12px 30px;
  background: none;
  width: 400px;
}

input[type="text"]:focus,  input[type="password"]:focus  {
  border: 2px solid #45c4db;
  padding: 12px 30px;
  background: none;
}

input[type="submit"]{
  background: none;
  border-radius: 24px;
  border: 2px solid #28a745;
  padding: 12px 40px;
  width: 150px;
  color: #28a745;
  text-align: center;
  margin: 20px auto;
  transition: 0.25s;
  outline: none;
  display: block;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #28a745;
  color: white;
}

.url {
  color: #0457ff;
  font-size: 13px;
  background: none; 
  border: 0;
}

.url:hover {
  color: #4bdb72;
  background: none; 
  border: 0;
  text-decoration: none;
}

.page-404-text {
  color: red;
}

.content_title {
  padding-top: 20px;
  padding-left: 0px;
}


.VideoContent {
  display: block;
  width: 100% !important;
}

.listVideo {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  height: 100%;
  left: 50%;
  padding-left: 0;
  padding-right: 0;
  transform: translateX(6%);
}

.listVideoElement {
  width: 40%;
  height: 40%;
  display: block;
  margin: 20px;

}

.video-content-element {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  text-align: center;
}

.video-content-element:hover {
  text-decoration: none;
}


.navbar-light .navbar-nav .nav-link {
  color: #375186;
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
  color: #293C62 !important;
}

.nav-link {
  color: #ff9027;
}

.nav-item {
  transition: 0.25s;
}

.nav-item:hover {
  transform: scale(1.2);
}

.navbar-brand {
  font-size: 2rem;
  transition: 0.25s;
  color: #FFFB0A !important;

}

.navbar-brand:hover {
  transform: scale(1.2);

}

.navbar-nav {
  padding-left: 50px;
}

.bg-light {
  background-color: #75c3f3 !important;
}

.btn-outline-success {
  color: white;
}

.form-control {
  border-radius: .4rem;
}

.video-preview {
  position: relative;
  left: 10%;
  top: 0%;

}

.page-403-img {
  position: relative;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 15%);
}

.profile-image-conteiner {
  display: block;
  width: 30%;
  position: relative;
  left: -5%;
  top: 20%;
  transform: translateY(23%);
}

.profile-image {
  width: 100%;
  border: 2px solid black;
  position: relative;
  height: auto;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0%);
  margin-bottom: 2ex;
}

.profile-image-box {
    width: 90%;
    position: relative;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 30%);
    background: none;
    text-align: center;
    justify-content: center;
}

.add-news {
  position: relative;
  width: 100%;
  height: 80%;
  left: 0%;
  top: 20%;
  margin-top: 50px;
  text-align: center;
  
}

.News-form {
  position: relative;
  left:0%;
  top: 10%;
  
}

.input-group {
  left: 25%;
}






