.VideoContent {
	display: block;
	top: 50%;
	left: 70%;
}

.listVideo {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  height: 100%;
  
}

.listVideoElement {
  width: 40%;
  height: 40%;
  display: block;
  margin: 10px;
}

.video-content-element {
	text-decoration: none;
	color: #4D6FBB;
}

.video-content-element:hover {
	text-decoration: none;
}