{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/style.css', v=1)}}">
{% endblock %}

{% block title %}
    Forbidden
{% endblock %}


{% block content_title %}
 	<span style="position: absolute !important;left: 50%;transform: translateX(-50%) !important;">You don't have permission! 403. </span>
{% endblock %}

{% block content %}
<div style="height: 100%;">
	<p>
		<img src="../static/images/403page.jpg" alt="" class="page-403-img" style="top: 100%;">
	</p>
</div>
{% endblock %}