{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/style.css', v=1)}}">
{% endblock %}

{% block title %}
    Forbidden
{% endblock %}


{% block content_title %}
 	
{% endblock %}

{% block content %}
<div style="height: 100%;">
	<p>
		<h1>
			<span style="position: relative;">You don't have permission! 403. </span>
		</h1>
	</p>

	<p>
		<img src="../../static/images/403page.jpg" alt="" class="page-403-img" style="top: 100%;">
	</p>
</div>
{% endblock %}