{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='style.css', v=1)}}">
{% endblock %}

{% block title %}
    About us
{% endblock %}

{% block content_title %}
	Поговорим немного о нас.
{% endblock %}

{% block content %}
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	Много бла бла бла бла бла бла
	
{% endblock %}