{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/style.css', v=1)}}">
{% endblock %}

{% block title %}
  Admin page
{% endblock %}

{% block content_title %}
	<span style="position: absolute !important;left: 50%;transform: translateX(-50%) !important;">Admin panel</span>
{% endblock %}

{% block content %}
<div class="add-news">
	{% if message %}
		<div class="alert alert-success" role="alert">
  			{{ message }}
		</div>
	{% endif %}
	<form class="News-form" href='' method="POST">
		<div class="input-group mb-3" style="width: 50%;">
  			<input type="text" maxlength="100" name='news_header' class="form-control"  placeholder="News header">
		</div>
		<h3><textarea style="width: 100%;" name="news_text" cols="30" rows="10" class="News-textarea" placeholder="Share some news!" maxlength="64000"></textarea></h3>
		<input type="submit" value="Share!">
	</form>
</div>
<hr style="position: absolute;width: 100%;left:0px;size: 3px;color:red;">
{% endblock %}