{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/style.css', v=1)}}">
{% endblock %}

{% block title %}
  News
{% endblock %}

{% block content_title %}

	News:

{% endblock %}

{% block content %}
<div class="article-list-conteiner">
	<ul class="article-list">
		{% for article in article_list %}
			<li class="aricle-element">
				<h1 class="article-header">
					{{ article.header }}
				</h1>
				<p><span class="article-text">
					{{ article.text }}
				</span></p>
				<span class="publication-time">
					{{ article.publication_time }}
				</span>
				{% if session['role'] == 'admin' %}
			  		<div class="dropdown" style="padding-bottom: 2ex; width: 25%;text-align: center;left: 38%">
					  <button style="background: none;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    <span style="font-size: 1.2em;color: #4D6FBB;"><i class="fa fa-trash" aria-hidden="true"></i></span>
					  </button>
					  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					    <a class="dropdown-item" href="{{ url_for('news', command='delete_article', article_id=article.id) }}" style="color:red;">Delete an article <i class="fa fa-trash" aria-hidden="true"></i></a>
					  </div>
					</div>

				{% endif %}
			</li>
			<hr style="width: 100%;">
		{% endfor %}
	</ul>
</div>
{% endblock %}