{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/style.css', v=1)}}">
{% endblock %}

{% block title %}
  {{ session['user'] }}
{% endblock %}

{% block content_title %}
<span style="position: absolute !important;left: 50%;transform: translateX(-50%) !important;">{{ session['user'] }}, It is your profile!</span>
	
{% endblock %}

{% block content %}
<div class="profile-image-conteiner">
	<img src="../static/images/profile_photos/{{ file_name }}" alt="" class="profile-image">
	{% if message == "Success" %}
		<div class="alert alert-success" role="alert">
  			Profile photo successfully updated! Reload page to see changes!
		</div>
  	{% elif message %}
  		<div class="alert alert-danger" role="alert">
  			{{ message}}
  		</div>
	{% endif %}
	<p style="text-align: center;">Here you can change your profile picture</p>
	<form class="box" action="#" method="post" enctype="multipart/form-data" style="width: 100%;padding: 2ex;">
	<input type="file" name="file" multiple accept="image/*,image/jpeg" class="custom-file-input" id="customFile">
	<label class="custom-file-label" for="customFile">Choose file</label>
	<input type="submit" value='Change'>
</form>
</div>


{% endblock %}