{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/style.css', v=1)}}">
{% endblock %}

{% block title %}
  {{ session['user'] }}
{% endblock %}

{% block content_title %}

{% endblock %}

{% block content %}
<div class="profile-conteiner">
	<div class="profile-image-conteiner">
		<img src="../static/images/profile_photos/{{ file_name }}" alt="" class="profile-image">
		{% if message == "Success" %}
			<div class="alert alert-success" role="alert">
	  			Profile photo successfully updated!
			</div>
	  	{% elif message %}
	  		<div class="alert alert-danger" role="alert">
	  			{{ message}}
	  		</div>
		{% endif %}
		<p style="text-align: center;">Here you can change your profile picture</p>
		<div class="alert alert-primary" role="alert">
  			Max size of photo - 2 Mb!
		</div>
		<form class="box" action="" method="post" enctype="multipart/form-data" style="width: 100%;padding: 2ex;top:0;">
			<input type="file" name="file" multiple accept="image/*,image/jpeg" class="custom-file-input" id="customFile">
			<label class="custom-file-label" for="customFile">Choose file</label>
			<input type="submit" name="send_profile_photo" value='Change'>
		</form>
	</div>
	<div class="profile-videos">
		{% if listOfMyVideosForProfile %}
			<h1>Your videos</h1>
			<ul class="profile-video-list">
				{% for oneVideoFromList in listOfMyVideosForProfile %}
					<li class="profile-video-list-element">
						<video width="80%" height="100%" poster="{{ oneVideoFromList.file_path.rsplit('.', 1)[0] + '.jpg' }}" preload="none" controls="controls" style="position: relative;max-width: 10cm;">
				  			<source src="{{ oneVideoFromList.file_path }}" class="opened-video" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                            <source src="{{ oneVideoFromList.file_path }}" class="opened-video" type='video/ogg; codecs="theora, vorbis"'>
                            <source src="{{ oneVideoFromList.file_path }}" class="opened-video" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                            <source src="{{ oneVideoFromList.file_path }}" class="opened-video" type='video/webm; codecs="vp8, vorbis"'>
                            Тег video не поддерживается вашим браузером.
						</video>
		        		<a href="{{ url_for('video_player', video_file=oneVideoFromList.id)}}" class="video-content-element">
		          			<p>{{ oneVideoFromList.file_name }}</p>
		        		</a>

						<div class="dropdown" style="padding-bottom: 2ex; width: 25%;text-align: center;left: 37%">
						  <button style="background-color: #75c3f3;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    <span style="font-size: 1.2em;color: #4D6FBB;"><i class="fa fa-question" aria-hidden="true"></i></span>
						  </button>
						  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						    <a class="dropdown-item" href="{{ url_for('profile', command='delete_file', video_file_id=oneVideoFromList.id) }}" style="color:red;">Delete video</a>
						    <hr style="padding: 0;margin:0;">
						    <a class="dropdown-item disabled" href="" style="color: #75c3f3;">category: {{ oneVideoFromList.category }}</a>
						    <hr style="padding: 0;margin:0;">
					    	<a class="dropdown-item disabled" href="" style="color: #75c3f3;">views: {{ oneVideoFromList.views }}</a>
							<hr style="padding: 0;margin:0;">
					    	<a class="dropdown-item disabled" href="" style="color: #75c3f3;">likes: {{ oneVideoFromList.likes }}</a>
						  </div>
						</div>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<div class="alert alert-danger" style="transform: translateY(50%);" role="alert">
	  			You don't have any videos
	  		</div>
		{% endif %}
	</div>
</div>
<script>
	const profilePhotoInput = document.querySelector('#customFile'),
			labelForProfilePhotoInput = document.querySelector('.custom-file-label');
	profilePhotoInput.onchange = function () {
		let fileName = this.value;
		if (fileName !== "") {
			labelForProfilePhotoInput.textContent = "File selected";
		}
		else {
			labelForProfilePhotoInput.textContent = "Choose file";
		}
	}
</script>
{% endblock %}