{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/style.css', v=1)}}">

{% endblock %}

{% block title %}
  Videos
{% endblock %}

{% block content_title %}

  <p>Popular videos</p>

{% endblock %}

{% block content %}
<div class="list-group">
  <a class="list-group-item list-group-item-action disabled" style="background-color: #4D6FBB;color:white;">
    Category
  </a>
  <a href="#" class="list-group-item list-group-item-action">Sport</a>
  <a href="#" class="list-group-item list-group-item-action">Creation</a>
  <a href="#" class="list-group-item list-group-item-action">Study</a>
  <a href="#" class="list-group-item list-group-item-action">Something else</a>
</div>

<div class="VideoContent">
	<ul class="listVideo">
	  {% for file_name in listOfVideos %}
	    <div class="listVideoElement">  
	      <li style="list-style-type: none;overflow: hidden;">
	        <a href="{{ url_for(listOfVideos[file_name])}}" class="video-content-element">  <!-- (file_path) open file in new window -->
	          <img src="../static/images/403page.jpg" alt="" class="video-preview">
	          <p>{{ file_name }}</p>
	        </a>
	      </li>
	    </div>
	  {% endfor %}
	</ul>
</div>
{% endblock %}

