{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/style.css', v=1)}}">
<link rel="stylesheet" href="http://vjs.zencdn.net/5.15.1/video-js.css">
{% endblock %}

{% block title %}
  Video Player
{% endblock %}

{% block content %}
  <div class="video-window">
  	<!DOCTYPE html>

  <video width="400" height="300" controls="controls">
   <source src="../static/videos/test2.mp4" type='video/ogg; codecs="theora, vorbis"'>
   <source src="../static/videos/test2.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
   <source src="../static/videos/test2.mp4" type='video/webm; codecs="vp8, vorbis"'>
   Тег video не поддерживается вашим браузером. <a href="video/duel.mp4">Скачайте видео</a>.
  </video>
    <h1>
      {{ video_name }}
    </h1>
  </div>
  <hr style="position: absolute;top:120%;width: 100%;left:0px;">
{% endblock %}
