{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/style.css', v=1)}}">
<link rel="stylesheet" href="http://vjs.zencdn.net/5.15.1/video-js.css">
{% endblock %}

{% block title %}
  Video Player
{% endblock %}

{% block content %}
  <div class="video-window">
    <video src="../static/videos/test2.mp4" class="opened-video" width="100%" height="100%" poster="poster.gif" controls></video>
    <h1>
      {{ video_name }}
    </h1>
  </div>
  <hr style="position: absolute;top:120%;width: 100%;left:0px;">
{% endblock %}
