{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/style.css', v=1)}}">
<link rel="stylesheet" href="http://vjs.zencdn.net/5.15.1/video-js.css">
{% endblock %}

{% block title %}
  Video Player
{% endblock %}

{% block content %}
  <div class="video-window">
	<video width="53%" height="67%" controls="controls">
		<source src="{{ video_file.file_path }}" class="opened-video" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
	</video>
    <h1>
      {{ video_file.file_name  }}
    </h1>
    Creator: {{ video_file.username }}
	  <p>{{ video_file.views }} views/<span id="likesAmount">{{ video_file.likes }}</span> likes</p>
  	<div class='like'>
		{% if 'user' is in session and session['user'] != video_file.username %}
			{% if like_button == "liked" %}
					<i class="fas fa-heart" id="likeButton">
						<span class="like-label">
								Remove like
						</span>
					</i>
			{% elif like_button == "not liked" %}
				<i class="fa fa-heart-o" id="likeButton">
						<span class="like-label">
								Set like
						</span>
				</i>
			{% endif %}
		{% endif %}
	</div>
	<br>
  	{% if session['role'] == 'admin' %}
  		<div class="dropdown" style="padding-bottom: 2ex; width: 25%;text-align: center;left: 35%">
		  <button style="background-color: #75c3f3;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    <span style="font-size: 1.2em;color: #4D6FBB;"><i class="fa fa-trash" aria-hidden="true"></i></span>
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		    <a class="dropdown-item" href="{{ url_for('video_player', command='delete_file', video_file=video_file.id) }}" style="color:red;">Delete video <i class="fa fa-trash" aria-hidden="true"></i></a>
		  </div>
		</div>

  	{% endif %}
  </div>
  <hr>
  <div class="other-videos">
  	<h2>
  		Other interesting videos:
  	</h2>
  	<div class="VideoContent">
  		{% if listOfVideos %}
			<ul class="listVideo">
			  {% for video in listOfVideos %}
			    <div class="listVideoElement">
		      <li style="list-style-type: none;overflow: hidden;align-items: center;min-width: 7cm;">
		        <a href="{{ url_for('video_player', video_file=video.id)}}" class="video-content-element" style="text-align: center;">
		          	<video width="80%" height="100%" controls="controls" preload="metadata" style="left: 10%;position: relative;min-width: 5cm;">
				   		<source src="{{ video.file_path }}" class="opened-video" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
					</video>
		          	<p id="video-text">{{ video.file_name }}<br>Creator: {{ video.username }}<br>Category: {{ video.category }}<br>{{ video.views }} views/{{ video.likes }} likes</p>
		        </a>
		      </li>
		    </div>
			  {% endfor %}
			</ul>
		{% else %}
			<div class="alert alert-danger" role="alert">
	  			Nothing found <i class="fa fa-frown-o" aria-hidden="true"></i>
			</div>
		{% endif %}
	</div>
  </div>
{% if 'user' in session and session['user'] != video_file.username %}
	<script>
		let likeButton = document.querySelector('#likeButton'),
			likeLabel = document.querySelector('.like-label'),
			likesAmountLabel = document.querySelector('#likesAmount');
		likeButton.onclick = function ()
		{
			if (likeButton.classList.contains('fa-heart-o'))
			{
				likesAmountLabel.textContent++;
				likeButton.className = "fas fa-heart";
				likeLabel.textContent = "Remove like";
			}
			else
			{
				likesAmountLabel.textContent--;
				likeButton.className = "fa fa-heart-o";
				likeLabel.textContent = "Set like";
			}
			fetch(document.location.href, {
				method: 'post',
				headers: {
					'Accept': 'application/json, text/plain, */*',
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					like_button_pressed: "True"
				})
			})
		}
	</script>
{% endif %}
{% endblock %}
